/*RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*CLASSI-DI-UTILIZZO*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.font{
    font-family: 'Montserrat', sans-serif;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
/*MAIN*/
main{
    width: 100vw;
    height: 100vh;
}

.nav-bar-left{
    width: 13%;
    height: 100%;
    background-color: black;
}

.main-container{
    width: 87%;
    height: 100%;
    background-color: chartreuse;
}