/*RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*CLASSI-DI-UTILIZZO*/
.font{
    font-family: 'Montserrat', sans-serif;
}

.flex{
    display: flex;
}

/*MAIN*/
/*Menù-Spotify-Laterale-Sinistro*/
.nav-bar-left{
    width: 12%;
    height: 1000px;
    padding: 26px 0px 0px 0px;
    background-color: black;
}

.nav-bar-left img{
    padding-left: 20px;
    margin-bottom: 20px;
    height: 2.7em;
}

.first-navs-menù{
    margin-bottom: 30px;
}

.first-navs-menù img{
    height: 32px;
    margin-right: 4px;
    margin-bottom: 11px;
    vertical-align: -webkit-baseline-middle;
}

.first-navs-menù span{
    color: #606060;
    font-size: 14px;
}

.playlist{
    padding-left: 20px;
    margin-bottom: 348px;
}

.playlist h4{
    color: white;
}

.playlist a{
    text-decoration: none;
    background-color: grey;
    padding: 2px 12px;
    font-size: 32px;
    color: black;
    vertical-align: sub;
    margin-right: 9px;
    margin-bottom: 10px;
}

.playlist span{
    color: #606060;
}

.playlist ul{
    margin-top: 20px;
    line-height: 35px;
    list-style: none;
    color: #606060;
}

.playlist li{
    font-size: 14px;
}

.download-app{
    padding-left: 20px;
}

.download-app span{
    color: #606060;
    font-size: 14px;
}

.download-app img{
    padding: 0px;
    height: 20px;
    vertical-align: text-top;
    margin-right: 10px;
    margin-bottom: 10px;
}

#border-bottom-download{
    border-bottom: 1px solid #606060;
    margin-right: 25px;
}

#id-user{
    margin-top: 9px;
    vertical-align: middle;
    background-color: grey;
    border-radius: 20px;
    padding: 4px;
    height: 30px;
}

/*Contenuto-centrale-Spotify*/
.main-container{
    width: 88%;
    height: 1000px;
    background-color: chartreuse;
    overflow: auto;
}

.main-container h2{
    padding-left: 25px;
    font-size: 2.15em;
    margin-bottom: 8px;
}

.main-container h5{
    padding-left: 25px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 1.05em;
}

.top-bar-button-upgrade{
    width: 100%;
    height: 9vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-spotify{
    text-align: center;
    margin-top: 14px;
    margin-bottom: 40px;
}

.nav-spotify a{
    text-decoration: none;
    margin-right: 14px;
}

.album-container{
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-top: 20px;
}

.album{
    width: 15%;
    margin-right: 19px;
}

.album-title h5{
    padding-left: 0px;
}

.album img{
    width: 100%;
}

.album-title{
    text-align: center;
    margin-top: 15px;
}

.border-radius{
    border-radius: 50%;
}

/*FOOTER*/
.player-bar-menù{
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 26px;
    background-color: grey;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
}
/*Sinistra*/
#nav-left{
    display: flex;
    align-items: center;
}

#text-container{
    margin-right: 40px;
    margin-left: 5px;
}

.fa-heart{
    margin-right: 10px;
}

#nav-left img{
    height: 40px;
    margin-right: 5px;
}
/*Centro*/
#nav-center{
    display: flex;
    flex-direction: column;
}

#player-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 11px;
}

#player-buttons .fas{
    margin-right: 20px;
    font-size: 19px;
}

#player-buttons .far{
    margin-right: 20px;
    font-size: 32px;
}

#line-1{
    background-color: red;
    border-radius: 5px;
    width: 500px;
    height: 5px;
    margin: 0px 20px;
}

#line-inside{
    background-color: lawngreen;
    border-radius: 5px;
    width: 30%;
    height: 100%;
}

#flex-container{
    display: flex;
    align-items: center;
}

#flex-container span{
    font-size: 13px;
}

/*Destra*/
#nav-right{
    display: flex;
    align-items: center;
}

#nav-right .fas{
    margin-right: 15px;
}

#line-2{
    background-color: red;
    border-radius: 5px;
    width: 150px;
    height: 5px;
}

/*MEDIA-QUERY*/

/*TABLET*/
@media screen and (min-width: 640px)  and (max-width: 878px){
    .nav-bar-left {
        width: 30%;
        height: 1000px;
        padding: 26px 0px 0px 0px;
        background-color: black;
    }

    .nav-spotify {
        text-align: center;
        margin-top: 17px;
        margin-bottom: 40px;
        padding: 0px 14px 0px 27px;
        line-height: 46px;
    }

    .nav-spotify a {
        text-decoration: none;
        margin-right: 14px;
        font-size: 0.90em;
    }

    .main-container h2 {
        padding-left: 16px;
    }

    .main-container h5 {
        padding-left: 16px;
        margin-top: 8px;
        margin-bottom: 22px;
    }

    .album-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 16px;
        padding-top: 20px;
    }

    .album {
        width: 23%;
        margin-right: 8px;
    }

    .album-title h5 {
        padding-left: 0px;
    }

    #player-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 11px;
        margin-left: 29px;
    }

    #line-1 {
        background-color: red;
        border-radius: 5px;
        width: 281px;
        height: 5px;
        margin: 0px 20px;
    }

    #nav-left {
        display: flex;
        align-items: center;
        margin-right: 0px;
    }

    #line-2 {
        background-color: red;
        border-radius: 5px;
        width: 125px;
        height: 5px;
    }

}
/*SMARTPHONE*/
@media screen and (max-width: 639px){
    .nav-bar-left {
        width: 52%;
        height: 1000px;
        padding: 26px 0px 0px 0px;
        background-color: black;
    }

    .nav-spotify {
        text-align: center;
        margin-top: 17px;
        margin-bottom: 16px;
        padding: 0px 14px 0px 27px;
        line-height: 46px;
    }

    .nav-spotify a {
        text-decoration: none;
        margin-right: 14px;
        font-size: 0.90em;
    }

    .main-container h2 {
        padding-left: 16px;
    }

    .main-container h5 {
        padding-left: 16px;
        margin-top: 8px;
        margin-bottom: 17px;
    }

    .album-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 16px;
        padding-top: 20px;
    }

    .album {
        width: 44%;
        margin-right: 8px;
    }

    .album-title h5 {
        padding-left: 0px;
    }

    #player-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 11px;
        margin-left: 17px;
    }

    #line-1 {
        background-color: red;
        border-radius: 5px;
        width: 135px;
        height: 5px;
        margin: 0px 8px;
    }

    #nav-left {
        display: flex;
        align-items: center;
        margin-right: 38px;
    }

    #line-2 {
        background-color: red;
        border-radius: 5px;
        width: 90px;
        height: 5px;
    }

    #text-container{
        margin-right: 20px;
        margin-left: 5px;
    }

    #nav-right .fas{
        margin-right: 9px;
    }
}

/*DIMENSIONI-XS*/
@media screen and (max-width: 552px){

    .nav-spotify {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 16px;
        padding: 0px 14px 0px 27px;
        line-height: 46px;
    }

    .nav-bar-left {
        width: 7%;
        height: 1000px;
        padding: 10px 0px 0px 3px;
        background-color: black;
    }

    .first-navs-menù span {
        color: #606060;
        font-size: 14px;
        display: none;
    }

    .playlist {
        padding-left: 20px;
        margin-bottom: 710px;
    }

    .playlist h4 {
        display: none;
    }

    .playlist a{
        display: none;
    }

    .playlist li{
        display: none;
    }

    .playlist span{
        display: none;
    }

    .download-app span {
        color: #606060;
        font-size: 14px;
        display: none;
    }

    #border-bottom-download {
        border-bottom: none;
        margin-right: 25px;
    }

    .first-navs-menù img {
        height: 32px;
        margin-right: 4px;
        margin-bottom: 11px;
        vertical-align: -webkit-baseline-middle;
    }

    .nav-bar-left img {
        padding-left: 0px;
        margin-bottom: 10px;
        height: 2em;
    }

    .download-app {
        padding-left: 0px;
    }

    .main-container{
        width: 100%;
        height: 1000px;
        background-color: chartreuse;
        overflow: auto;
    }

    
    .download-app img{
        padding: 0px;
        height: 25px;
        margin-bottom: 11px;
    }

    #line-2 {
        background-color: red;
        border-radius: 5px;
        width: 64px;
        height: 5px;
    }

    #nav-left {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    #nav-right {
        display: flex;
        align-items: center;
        margin-left: 6px;
    }

    #nav-right .fas{
        margin-right: 4px;
    }

    #line-1 {
        background-color: red;
        border-radius: 5px;
        width: 143px;
        height: 5px;
        margin: 0px 8px;
    }

    #text-container{
        margin-right: 9px;
        margin-left: 5px;
    }

}