/*RESET*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*CLASSI-DI-UTILIZZO*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.font{
    font-family: 'Montserrat', sans-serif;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}
/*MAIN*/
main{
    height: 100vh;
}
/*Menù-Spotify-Laterale-Sinistro*/
.nav-bar-left{
    width: 13%;
    height: 100%;
    padding: 26px 0px 7px 0px;
    background-color: black;
}

.nav-bar-left img{
    padding-left: 20px;
    margin-bottom: 20px;
    height: 2.7em;
}

.first-navs-menù{
    margin-bottom: 30px;
}

.first-navs-menù img{
    height: 32px;
    margin-right: 4px;
    margin-bottom: 11px;
    vertical-align: -webkit-baseline-middle;
}

.first-navs-menù span{
    color: #606060;
    font-size: 14px;
}

.playlist{
    padding-left: 20px;
}

.playlist h4{
    color: white;
}

.playlist a{
    text-decoration: none;
    background-color: grey;
    padding: 2px 12px;
    font-size: 32px;
    color: black;
    vertical-align: sub;
    margin-right: 9px;
    margin-bottom: 10px;
}

.playlist span{
    color: #606060;
}

.playlist ul{
    margin-top: 20px;
    line-height: 35px;
    list-style: none;
    color: #606060;
}

.playlist li{
    font-size: 14px;
}

.download-app{
    padding-left: 20px;
    margin-top: 400px;
    margin-bottom: 20px;
}

.download-app span{
    color: #606060;
    font-size: 14px;
}

.download-app img{
    padding: 0px;
    height: 20px;
    vertical-align: text-top;
    margin-right: 10px;
    margin-bottom: 10px;
}

#border-bottom-download{
    border-bottom: 1px solid #606060;
    margin-right: 25px;
}

.user-id{
    padding-left: 21px;
}

.user-id img{
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: grey;
    border-radius: 20px;
    padding-left: 0px;
    padding: 4px;
}

.user-id span{
    color: white;
    vertical-align: super;
}
/*Contenuto-centrale-principale-spotify*/
.main-container{
    width: 87%;
    height: 100%;
    background-color: chartreuse;
    overflow: auto;
}

.top-bar{
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.4)
}

.nav-bar-main-container{
    text-align: center;
    margin-top: 21px;
    width: 100%;
}

.nav-bar-main-container a{
    text-decoration: none;
    margin-top: 5px;
    margin-right: 20px;
    font-size: 17px;
}

.title-container{
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
}

.album-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    gap: 14px;
    margin-bottom: 80px;
}

.album{
    width: 15%;
}

.album img{
    width: 100%;
}

.album-list .album-title{
    display: flex;
    justify-content: center;
}

.border-radius{
    border-radius: 56%;
}

/*FOOTER*/
.player-bar-menù{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
    height: 9vh;
    background-color: grey;
}
/*Sinistra*/
#nav-left{
    display: flex;
    align-items: center;
}

#text-container{
    margin-right: 40px;
    margin-left: 5px;
}

.fa-heart{
    margin-right: 10px;
}

#nav-left img{
    height: 40px;
    margin-right: 5px;
}
/*Centro*/
#nav-center{
    display: flex;
    flex-direction: column;
}

#player-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 18px;
}

#player-buttons .fas{
    margin-right: 20px;
    font-size: 19px;
}

#player-buttons .far{
    margin-right: 20px;
    font-size: 32px;
}

#line-1{
    background-color: red;
    border-radius: 5px;
    width: 500px;
    height: 5px;
}

#line-inside{
    background-color: lawngreen;
    border-radius: 5px;
    width: 30%;
    height: 100%;
}
/*Destra*/
#nav-right{
    display: flex;
    align-items: center;
}

#nav-right .fas{
    margin-right: 15px;
}

#line-2{
    background-color: red;
    border-radius: 5px;
    width: 150px;
    height: 5px;
}

/*MEDIA-QUERY*/
/*TABLET*/
@media screen  and (min-width: 577px) and (max-width: 768px) {
    
    .nav-bar-left{
        width: 31%;
        height: 100%;
        padding: 26px 0px 7px 0px;
        background-color: black;
    }
    
    .main-container{
        width: 69%; 
        overflow: auto;
    }

    .top-bar{
        width: 100%;
        height: 10vh;
        background-color: rgba(0, 0, 0, 0.4)
    }

    .nav-bar-main-container{
        margin-top: 0px;
        line-height: 49px;
        padding-left: 16px;
    }

    .nav-bar-main-container a{
        text-decoration: none;
        margin-top: 5px;
        margin-right: 18px;
        font-size: 10px;
    }

    .title-container{
        margin-top: 20px;
        padding-left: 16px;
        margin-bottom: 30px;
    }
    

    .album-list{
        display: flex;
        padding-left: 16px;
        gap: 8px;
        margin-bottom: 30px;
    }
    
    .album{
        width: 23%;
        margin-bottom: 20px;
    }
    
    
}

/*SMARTPHONE*/
@media screen and (max-width: 576px){
    
    .nav-bar-left{
        width: 40%;
        height: 100%;
        padding: 26px 0px 7px 0px;
        background-color: black;
    }

    .main-container{
        width: 60%;
        height: 100%;
        background-color: chartreuse;
        overflow: auto;
    }

    .nav-bar-main-container{
        padding-left: 13px;
    }

    .nav-bar-main-container a{
        text-decoration: none;
        margin-top: 5px;
        margin-right: 18px;
        font-size: 13px;
        line-height: 41px;
    }

    .album-list{
        display: flex;
        padding-left: 16px;
        gap: 8px;
        margin-bottom: 30px;
    }
    

    .album{
        width: 44%;
        margin-bottom: 20px;
    }
    
    #line{
        background-color: red;
        border-radius: 5px;
        width: 179px;
        height: 5px;
    }

}